.main {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

.main>.mainContent>button {
    border: 1px solid #f7f8f9;
    border-radius: 4px;
    width: 400px;
    height: 55px;
    background: rgba(0, 0, 0, 0.67);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #f7f8f9;
    text-transform: capitalize;
    transition: all 1s ease;
    z-index: 10;
}

.main>.mainContent>button:hover {
    background: linear-gradient(180deg, #c4cbff 0%, #8f9cff 100%);
    cursor: pointer;
}

.video {
    position: absolute;
    top: 0;
    width: 70%;
    height: 100%;
    object-fit: cover;
}

.video>video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.mainContent {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.video>.shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 0px 0px 50px 55px rgba(0, 0, 0, 1) inset;
    -moz-box-shadow: 0px 0px 50px 55px rgba(0, 0, 0, 1) inset;
    box-shadow: 0px 0px 50px 55px rgba(0, 0, 0, 1) inset;
}

.main>.mainContent>img {
    z-index: 10;
    width: 280px;
    transition: all .4s ease;
}

.main>.mainContent>img:hover {
    transform: scale(1.2);
}

.socialBar {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    gap: 4px
}

.socialBar>img {
    width: 28px;
}



.announcement {
    width: 100%;
    height: 130px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(13, 36, 47, 1) 50%, rgba(0, 0, 0, 1) 80%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 10;
    position: absolute;
    bottom: 0;
}

.announcementText {
    font-weight: 400;
    font-size: 19px;
    text-align: right;
    animation: announcementText .9s infinite alternate;
    color: #d13acc;
}

.announcementText:first-child {
    animation-delay: .1s;
}

.announcementText:last-child {
    animation-delay: .2s;
}

.announcementLogo {
    width: 190px;
    animation: announcementLogo .9s infinite alternate;
}

.games {
    width: 100%;
    height: 80%;
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

.games>* {
    width: 25%;
}

.gamesItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    gap: 10px;

}

.gamesItems>button {
    border: none;
    outline: none;
    width: 160px;
    height: 100px;
    background: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;
}

.gamesItems>button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.gamesItems>button:nth-child(1) {
    background-image: url(../assets/games/bj.jpeg);
}

.gamesItems>button:nth-child(2) {
    background-image: url(../assets/games/oc.jpg);
}

.gamesItems>button:nth-child(3) {
    background-image: url(../assets/games/slot.jpg);
}

.gamesItems>button:nth-child(4) {
    background-image: url(../assets/games/sm.jpg);
}

.packs {
    width: 100%;
    height: 80%;
    background-image: url(../assets/bgPacks.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.packsContent {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    color: white
}

.packsItems {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.packsItems>button {
    background: transparent;
    border: none;
    outline: none;
    width: 160px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;
}

.packsItems>button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.packsItems>button:nth-child(1) {
    background-image: url(../assets/packs/packs\ \(1\).svg);
}

.packsItems>button:nth-child(2) {
    background-image: url(../assets/packs/packs\ \(2\).svg);
}

.packsItems>button:nth-child(3) {
    background-image: url(../assets/packs/packs\ \(3\).svg);
}

.packsItems>button:nth-child(4) {
    background-image: url(../assets/packs/packs\ \(4\).svg);
}

.packsItems>button:nth-child(5) {
    background-image: url(../assets/packs/packs\ \(5\).svg);
}

.packsItems>button:nth-child(6) {
    background-image: url(../assets/packs/packs\ \(6\).svg);
}

.packsItems>button:nth-child(7) {
    background-image: url(../assets/packs/packs\ \(7\).svg);
}

.packsItems>button:nth-child(8) {
    background-image: url(../assets/packs/packs\ \(8\).svg);
}

.packsItems>button:nth-child(9) {
    background-image: url(../assets/packs/packs\ \(9\).svg);
}

.packsItems>button:nth-child(10) {
    background-image: url(../assets/packs/packs\ \(10\).svg);
}

.packsItems>button:nth-child(11) {
    background-image: url(../assets/packs/packs\ \(11\).svg);
}

@keyframes announcementText {
    0% {
        text-shadow:
            0 0 7px #d13acc,
    }

    50% {
        color: #691d67;
        text-shadow:
            0 0 21px #691d67
    }

    100% {
        text-shadow:
            0 0 7px #d13acc,
    }
}

@keyframes announcementLogo {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(0.8);
    }

    100% {
        filter: brightness(1);
    }
}


.signUpWindow {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    animation: openModal .5s ease;
}

.signUpWindowContent {
    width: 500px;
    height: 500px;
    background: #000;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white
}

.signUpWindowContent>input {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    padding-left: 10px;
}

.signUpWindowContent>button {
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background: #d13acc;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.blog {
    width: 100%;
    height: 50%;
    background-image: url(../assets/bgBlog.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentBlog {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    color: white;
}

.contentBlog>div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.contentBlog>div>button {
    border: none;
    outline: none;
    background: transparent;
    width: 25%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

.contentBlog>div>button:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: 1px solid white
}

.contentBlog>div>button:nth-child(1) {
    background-image: url(../assets/packs/packs\ \(1\).svg);
}

.contentBlog>div>button:nth-child(2) {
    background-image: url(../assets/packs/packs\ \(2\).svg);
}

.contentBlog>div>button:nth-child(3) {
    background-image: url(../assets/packs/packs\ \(3\).svg);
}

.contentBlog>div>button:nth-child(4) {
    background-image: url(../assets/packs/packs\ \(4\).svg);
}

.contentBlog>button {
    border: 1px solid white;
    background: transparent;
    padding: 13px 19px;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #f7f8f9;
    border-radius: 5px;
}

.contentBlog>button:hover {
    cursor: pointer;
}

.feedback {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1ca127;
    color: white;
}

.contentFeedback {
    width: 50%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.contentFeedback>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contentFeedback>div:first-child {
    align-items: end;
}

.contentFeedback>div:last-child {
    align-items: start;
}

.contentFeedback>div:first-child>span {
    font-weight: bold;
    font-weight: 800;
    font-size: 48px;
    text-align: right;
    color: #f7f8f9;
}

.contentFeedback>div:first-child>img {
    width: 200px;
}

.contentFeedback>div>input {
    border: none;
    border-radius: 4px 4px 0 0;
    width: calc(100% - 50px);
    height: 40px;
    color: #cacaca;
    background-image: url(../assets/email.svg);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 20px;
    padding-left: 40px;
    padding-right: 10px;
}

.contentFeedback>div>input:focus {
    outline: #1a95c5 1px solid;
}

.contentFeedback>div>button {
    border: 1px solid #f7f8f9;
    border-radius: 4px;
    width: 100%;
    height: 55px;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #f7f8f9;
}

.questions {
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    color: white;
}

.questionsContent {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.questionsContent>div {
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    justify-content: start;
}

.questionsContent>div:first-child {
    width: 33%;

}

.questionsContent>div:first-child>img {
    width: 100%;

}

.questionsContent>div:last-child {
    width: 66%;

}
.questionsContent>div:last-child > div {
    width: 100%;
    height: 100%;
}
.questionsContent>div:last-child > div >span{
    display: none;
    
}

.question {
    border: 1px solid #64748b;
    border-radius: 4px;
    padding:0 20px;
    width: calc(100% - 40px);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3a3c43;
    transition: all .4s ease;
}
.question:hover{
    cursor: pointer;
    background: #25262b;
}
.question > span{
    text-align: center;
}

.footer{
    width: calc(100% - 100px);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    color: white;
    background: #25262b;

}
.footer > div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer > div > img{
   width: 150px;
}
.footer > hr{
    width: 100%;
     
}
.footer > div > div> a{
    color: white;
    text-decoration: none;
 }
@keyframes openModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}